<footer>
    <div class="bg-dark text-light p-3 d-flex justify-content-center align-items-center">
        <p style="text-align: center; margin-bottom:0; ">© 2025 STEDU. Nền tảng học lập trình hàng đầu Việt Nam</p>
    </div>
</footer>