<div class="container-fluid ">
    <div class="row container border mx-auto mt-3 p-3">
        <h2 class="ml-3 text-primary">Search Form</h2>
        <form class="col-xl-12" method="POST" >
            <div class="form-group">
                <label for="exampleInputEmail1">Từ khóa</label>
                <input type="text" class="form-control" id="search-input" placeholder="Nhập từ khóa ..." name="search" />
            </div>
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>
    </div>
</div>